<form method ="post" action = "/upload" enctype="multipart/form-data"> 

    <b> Upload Documents</b> <br> <br>
    <input type="file" multiple name = "myfile" >
    <input type="submit" value="upload">

</form>
<!-- //multiple data upload krva mate , enctype + method should be post comp. for multer -->